.node {
  position: relative;
  width: 100%;
}

.frame {
  background: var(--mantine-color-body);
}

.editor {
  width: 100%;
}

.selector {
  position: absolute;
  z-index: 2;
  inset: 0;
  pointer-events: none;
  border: 0;
  background: transparent;
}

.selector:focus-visible {
  outline: none;
}

.content {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip-path: inset(50%);
}
