@font-face {
  font-family: 'Noto Sans';
  src: url('/storybook/fonts/NotoSans-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('/storybook/fonts/NotoSans-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
  font-display: block;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('/storybook/fonts/NotoSansKR-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('/storybook/fonts/NotoSansKR-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
  font-display: block;
}

@font-face {
  font-family: 'Noto Sans JP';
  src: url('/storybook/fonts/NotoSansJP-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: 'Noto Sans JP';
  src: url('/storybook/fonts/NotoSansJP-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
  font-display: block;
}

@font-face {
  font-family: 'Noto Sans SC';
  src: url('/storybook/fonts/NotoSansSC-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: 'Noto Sans SC';
  src: url('/storybook/fonts/NotoSansSC-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
  font-display: block;
}
